:host {
    app-container {
        display: block;
        margin: auto;
        .counter {
            display: flex;
            align-items: center;
            margin: 24px;
            gap: 24px;
            p {
                min-width: 100px;
                display: flex;
                justify-content: center;
            }
        }
    }

}