:host {
    app-container {
        display: block;
        margin: auto;
        .counter {
            display: flex;
            align-items: center;
            margin: 24px;
            gap: 24px;
        }
    }

}