:host {
 .loader {
  border: 16px solid rgb(224, 221, 221);
  border-top: 16px solid #378be0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
 }
 @keyframes spin {
  0%{transform: rotate(0deg);}
  100% { transform: rotate(360deg)}
}
}

