
<app-container class="container" [style.--container-width]="'500px'">
  <div class="header">
    <p class="title">Practice JS advanced Concepts:</p>
  </div>
  <div class="content">
    <div>
      <a [routerLink]="['arrays']" routerLinkActive="active" title="opens a new sub page in right side">Arrays</a>
      <hr>
      <a [routerLink]="['objects']" routerLinkActive="active" title="opens a new sub page in right side">Objects</a>
      <hr>
      <a [routerLink]="['prototype']" routerLinkActive="active" title="opens a new sub page in right side">Prototype</a>
      <hr>
      <a [routerLink]="['prototype1']" routerLinkActive="active" title="opens a new sub page in right side">Prototype1</a>
    </div>
    <div class="sub-route">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-container>
