
<app-container class="container" [style.--container-width]="'500px'">
  <div class="header">
    @let title = "Practice JS advanced Concepts:";
    <p class="title">{{ title }}</p>
  </div>
  <div class="content">
    <div>
      <a [routerLink]="['arrays']" routerLinkActive="active" title="opens a new sub page in right side">Arrays</a>
      <hr>
      <a [routerLink]="['objects']" routerLinkActive="active" title="opens a new sub page in right side">Objects</a>
      <hr>
      <a [routerLink]="['prototype']" routerLinkActive="active" title="opens a new sub page in right side">Prototype</a>
      <hr>
      <a [routerLink]="['prototype1']" [state]="{name: 'sudhan'}" routerLinkActive="active" title="opens a new sub page in right side">Prototype1</a>
    </div>
    <button (click)="dateConversion(['20 18p ', '2345p0', '11-11-2022'])">Convert Dates</button>
    <button (click)="findIndexes([1,2,8,4,5,6,7,3], 15)">Array1</button>
    <div class="sub-route">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-container>
