<div class="navbar">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" > home</a>
  <a [routerLink]="['/t-register']" routerLinkActive="router-link-active" > template-form</a>
  <a [routerLink]="['/r-register']" routerLinkActive="router-link-active" > reactive-form</a>
  <a [routerLink]="['/budget']" routerLinkActive="router-link-active" >my-budget</a>
  <a [routerLink]="['/separation']" routerLinkActive="router-link-active" appSafeLink> {{'components' | mypipe}}</a>
  <a [routerLink]="['/rxjs']" routerLinkActive="router-link-active" >rxjs</a>
  <a [routerLink]="['/sitemule']" routerLinkActive="router-link-active" >sitemule</a>


</div>
