// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding:12px;
//   background:#123456;
//   color: #fff;
//   position: var(--position);
//   left: 0;
//   top: var(--position-top);
//   right: 0;
//   @media(max-width: 500px){
//       flex-direction: column;
//       gap: 12px;
//   }
//   a {
//     color: #fff;
//     text-decoration: none;
//   }
// }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:12px;
  background:#123456;
  color: #fff;
  @media(max-width: 500px){
      flex-direction: column;
      gap: 12px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
