:host {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: #123456;
    .header-image {
      margin-top: 12px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-image: var(--background-image);
      background-size: cover;
    }

    img {
      height: 60px;
      width: 60px;
      margin: 12px auto 0;
      border-radius: 50%;
      object-fit:fill;
    }
    .title {
      font-style: bold;
      font-size: 24px;
      color: #fff;

    }
  }
}
