<app-container [style.--container-width]="'500px'">
  <div class="flex-container">
    @for(item of myList; track item){
      <div class="each-box">
        <div class="box-content">
          <h2>Heading 1</h2>
          <div class="image" [style.--background-image]="'url(' + item + ')'">
            <!-- <img [src]="item" alt=""> -->
          </div>
        </div>
        <p>See more</p>
      </div>
    }
  </div>
  <div class="box">
    <p>just a box</p>
  </div>
  <div class="loader-box">
    <div class="loader"></div>
  </div>
  <div [showMe]="true"  class="loader-box show1" style="height: 50px; width: 50px;">
    <i class="loader fa-solid fa-heart" style="color:red; border:none;"></i>
  </div>
</app-container>
