<app-container>
  <div class="form">
    <h2 id="registration">User Registration</h2>
    <form (ngSubmit)="submitForm()" [formGroup]="reactiveForm">
      <label>First Name:
        <input class="full-width meee" type="text" name="firstName" formControlName="firstName" placeholder="Your first name...">
      </label>

      <label>Last Name:
        <input class="full-width" type="text" name="lastName" formControlName="lastName"  placeholder="Your last name...">
      </label>

      <label>Email Name:
        <input class="full-width" type="text" name="email" formControlName="email"  placeholder="Your email...">
      </label>

      <label>Select country:
        <select class="full-width" name="country" formControlName="country" >
          <option value="Nepal">Nepal</option>
          <option value="Denmark">Denmark</option>
          <option value="Canada">Canada</option>
          <option value="USA">USA</option>
          <option value="Norway">Norway</option>
          <option value="England">England</option>
        </select>
      </label>
      <label> Gender:
        <div class="gender">
          <input type="radio" name="gender" formControlName="gender"value="male"><label>male</label>
          <input type="radio" name="gender" formControlName="gender" value="female"><label>female</label>
          <input type="radio" name="gender" formControlName="gender" value="others"><label>others</label>
          </div>
      </label>
      <label> Hobbies:
        <div class="hobbies">
          <input type="checkbox" name="hobbies" value ="sports"><label>sports</label>
          <input type="checkbox" name="hobbies" value ="travel"><label>travel</label>
          <input type="checkbox" name="hobbies" value ="singing"><label>singing</label>
        </div>
      </label>
      <input type="submit" class="full-width btn" value="Submit">
    </form>
  </div>
</app-container>
