:host {
  .form {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
    margin: 12px;

    input.ng-touched.ng-invalid {
      border: 1px solid red;
  }
  }

  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-top: 6px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .full-width {
      width: 60%;
      padding: 6px;
      border: none;
      border-radius: 6px;
      margin-top: 6px;
    }
    .gender, .hobbies {
      display: flex;
      gap: 12px;
      margin-top: 6px;
    }
    .btn {
      background-color: #123456;
      color: #fff;
      padding: 12px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .address {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    gap: 3px;

    input {
      width: 100px;
    }
  }
  small {
    font-size: 9px;
    color: red;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;

    input {
      border: none;
      padding:6px;
      border-radius: 6px;
    }
    button {
      padding: 6px;
      border: none;
      border-radius: 6px;
      background: red;
      color: #fff;
      font-weight: bold;
      margin-left: 12px;
      cursor:pointer;
    }
  }
  .experience {
    border: 1px solid gray;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    input {
      width: 50%;
    }
    .date {
      display: flex;
      justify-content: space-between;
      input {
        width: 50%;
      }
    }
    .btn-style {
      margin-top: 12px;
    }
  }
  .btn-style {
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: rgb(153, 151, 151);
    color: white;
    cursor: pointer;
    transition:all 1s ease-in-out;
  }
  .btn-style:hover {
    background-color: rgb(225, 222, 222);
    color: black;
  }
  hr {
    margin: 24px auto;
  }
}
