<app-container [style.--container-width]="'500px'">
  <div class="content">
    <button (click)="observable()">Observble</button>
  </div>
<hr>
  <div class="content" style="display:flex;justify-content: space-between; align-items: center;">
    <button (click)="combineLatest()">Combine Latest</button>
    <p>{{ combined }}</p>
  </div>
  <hr>
  <div class="content">
    <button (click)="createObservable()">Create http$</button>
  </div>
  <hr>
  <div class="content">
    <button (click)="concatObservable()">Concat</button>
  </div>
</app-container>
