<app-container [style.--container-width]="'500px'">
  <div class="content">
    <button (click)="observable()">Observble</button>
  </div>
<hr>
  <div class="content" style="display:flex;justify-content: space-between; align-items: center;">
    <button (click)="combineLatest()">Combine Latest</button>
    <p>{{ combined }}</p>
  </div>
  <hr>
  <div class="content">
    <button (click)="createObservable()">Create http$</button>
  </div>
  <hr>
  <div class="content">
    <button (click)="concatObservable()">Concat</button>
  </div>
  <hr>
  <div class="content">
    <button (click)="toogleForm()">{{ toggle? 'Hide Form': 'Show Form' }}</button>
  </div>
  @if(toggle){
    <hr>
    <div class="form">
      <h2>Course form: </h2>
      <form action="">
        <label>Title:
          <input type="text">
        </label>
        <label>Level:
          <input type="text">
        </label>
        <button>Submit</button>
      </form>
    </div>
  }
</app-container>
