:host {
  .content {
    border: 1px solid gray;
    padding: 12px;
    border-radius: 12px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .my-box {
    display: flex;
    gap: 24px;
    align-items: center;
    p {
      margin: 0;
    }
  }
}
