<app-container [style.--container-width]="'500px'">
  <h2>Template driven Form</h2>
  <form class="form" (ngSubmit)="formSubmit()" #form="ngForm">
    <div>
      <input type="text" name="firstName" required ngModel placeholder="First name">
      <input type="text" name="lastName" ngModel placeholder="Last name">
    </div>
    <div class="email">
      <input type="text" name="email" ngModel placeholder="Email">
    </div>
    <div class="button">
      <input type="submit" >
    </div>
  </form>
</app-container>
