<app-container [style.--container-width]="'500px'">
  <div class="container" [style.--border-color]="color">
    <div class="btn-container">
      <button [style.backgroundColor]="'red'" (click)="changeColor('red')">Red</button>
      <button [style.backgroundColor]="'green'" (click)="changeColor('green')">Green</button>
      <button [style.backgroundColor]="'yellow'" (click)="changeColor('yellow')">Yellow</button>
      <button [style.backgroundColor]="'purple'" (click)="changeColor('purple')">Purple</button>
      <button [style.backgroundColor]="'blue'" (click)="changeColor('blue')">Blue</button>
    </div>
    <div class="box"></div>
    <div class="btn-container">
      <button (click)="changeNumber(1)">1</button>
      <button (click)="changeNumber(2)">2</button>
      <button (click)="changeNumber(3)">3</button>
      <button (click)="changeNumber(4)">4</button>
      <button (click)="changeNumber(5)">5</button>
      <button (click)="changeNumber(6)">6</button>
      <button (click)="changeNumber(7)">7</button>
      <button (click)="changeNumber(8)">8</button>
    </div>
    <h3 *ngIf="show; else showThis">If - Else :</h3>
    <ng-template #showThis>
      <h3>If condition: </h3>
    </ng-template>
    @if(value==1){
      <div class="if-else">1</div>
    }@else if(value==2){
      <div class="if-else">2</div>
    }@else if(value==3){
      <div class="if-else">3</div>
    }@else if(value==4){
      <div class="if-else">4</div>
    }@else if(value==5){
      <div class="if-else">5</div>
    }@else if(value==6){
      <div class="if-else">6</div>
    }@else if(value==7){
      <div class="if-else">7</div>
    }@else if(value==8){
      <div class="if-else">8</div>
    }
    @else {
      <div class="if-else">0</div>
    }
    <h3>Switch Case:</h3>
    <div class="switch">
      @switch(value){
        @case(1){
          <div class="if-else case">1</div>
        }
        @case(2){
          <div class="if-else case">2</div>
        }
        @case(3){
          <div class="if-else case">3</div>
        }
        @case(4){
          <div class="if-else case">4</div>
        }
        @default(){
          <div class="if-else case">0</div>
        }
      }
    </div>
    <h3>Modern NgSwitch</h3>
    <div class="switch" [ngSwitch]="value">
      <div *ngSwitchCase="1" class="if-else case">1</div>
      <div *ngSwitchDefault class="if-else case">9</div>

    </div>
  </div>

  <div>
    <h1>For Loop in old days:</h1>
    <span>(*ngFor="let name of names")</span>
    <ul>
      <li *ngFor="let name of names">{{ name }}</li>
    </ul>

    <h1>For Loop these days:</h1>
    <span>for(name of names; track name)</span>
    <ul>
      @for(name of names; track name){
        <li>{{ name }}</li>
      }
    </ul>
  </div>

</app-container>
