:host {
  .container {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 12px;
    .btn-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      color: white;
    }
    .box {
      height: 100px;
      border-radius: 12px;
      background-color: var(--border-color);
      margin-bottom: 12px;
    }
    .if-else {
      margin: auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      color: white;
      background-color: #123456;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
    }
  }
}
