<app-container [style.--container-width]="'500px'">
  <div class="container" [style.--border-color]="color">
    <div class="btn-container">
      <button [style.backgroundColor]="'red'" (click)="changeColor('red')">Red</button>
      <button [style.backgroundColor]="'green'" (click)="changeColor('green')">Green</button>
      <button [style.backgroundColor]="'yellow'" (click)="changeColor('yellow')">Yellow</button>
      <button [style.backgroundColor]="'purple'" (click)="changeColor('purple')">Purple</button>
      <button [style.backgroundColor]="'blue'" (click)="changeColor('blue')">Blue</button>
    </div>
    <div class="box"></div>
    @if(value==1){
      <div class="if-else">1</div>
    }
  </div>
</app-container>
