:host {
    form {
        padding: 12px;
        border: 1px solid gray;
        border-radius: 12px;
    }
    label input {
        width: 100%;
        padding: 6px;
        border: 1px solid gray;
        border-radius: 6px;
        margin-top: 3px;
    }
    .gender {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 18px;
        label {
            margin: 0;
        }
    }
    .gender input {
        margin-left: 15px;
    }
    .gender label {
        margin-left: 6px;
    }
    label {
        margin-bottom: 12px;
    }
    .name {
        width: 100%;
    }
    .email-age {
        display: flex;
        gap: 12px;

        .email {
            flex-basis: 60%;
        }
    }

    button {
        width: 100%;
    }
    select {
        padding: 3px;
        border-radius: 6px;
    }
    .skill {
        position: relative;
        height: 30px;
        margin-bottom: 24px;
        border-radius: 6px;
        input {
            position: absolute;
            inset: 0;
            height: 100%;
            border: 1px solid gray;
            border-radius: 6px;
            padding-left: 6px;
        }
        button {
            width: 60px;
            position: absolute;
            right: 0;
            top:0;
            bottom:0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }
    .address {
        display: flex;
        justify-content:left;
        gap: 24px;
        align-items: center;
        .city {
            display: flex;
            align-items: center;
            gap: 6px;
            flex-basis: 40%;
            input {
                padding-block:2px;
            }
        }
    }
}