<app-container [style.--container-width]="'500px'">
    <form (ngSubmit)="formSubmit()"  [formGroup]="form">
        <label>First Name:
            <input type="text" formControlName="firstName">
        </label>
        <label>Last Name:
            <input type="text" formControlName="lastName">
        </label>
        <label>Age:
            <input type="number" formControlName="age">
        </label>
        <label>Email:
            <input type="email" formControlName="email">
        </label>
       <div class="gender">Gender:
            <input type="radio" value="male"  formControlName="gender"><label>male</label>
            <input type="radio" value="female"  formControlName="gender"><label>female</label>
            <input type="radio" value="others"  formControlName="gender"><label>others</label>
       </div>
       <label >Country:
            <select name="country" formControlName="country">
                <option value="nepal">Nepal</option>
                <option value="Denmark">Denmark</option>
                <option value="Australia">Australia</option>
                <option value="Norway">Norway</option>
                <option value="Finland">Finland</option>
            </select>
       </label>

        <button type="submit">Save</button>
    </form>
</app-container>
