<div class="form">
  <app-container>
    <app-card>
      <form (ngSubmit)="onSubmit()">
        <label>Id:
          <input type="text" name="id" [(ngModel)]="id">
        </label>
        <label>Title:
          <input type="text" name="title" [(ngModel)]="title">
        </label>
        <label>Description:
          <input type="text" name="desc" [(ngModel)]="desc">
        </label>
        <label>User:
          <input type="text" name="user" [(ngModel)]="user">
        </label>
        <button>Submit</button>
      </form>
    </app-card>
  </app-container>
</div>

