<app-container [style.--container-width]="'500px'">
  <h2>Reactive Form</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div>
      <input type="text" formControlName="firstName"   placeholder="First name">
      <input type="text" formControlName="lastName"   placeholder="Last name">
    </div>
    <div class="email">
      <input type="text" formControlName="email"  placeholder="Email">
    </div>
    <div class="button">
      <input type="submit" >
    </div>
  </form>
</app-container>
