:host {
  .container {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
  }
  img {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align:middle;
  }
}
