:host {
  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 24px;
    border-radius: 12px;
    background-color: gray;
  }
  input {
    flex-grow: 1;
    padding: 6px;
    border-radius: 6px;
    border: 2px solid #123456;
  }
  button {
    background-color: #123456;
    font-size: 20px;
    transition: all .3s ease-in-out;
    border-radius: 12px;
  }
  button:hover {
    background-color: #164c82;
  }
}
