<!-- <app-each-user *ngFor="let user of allUsers" [user]="user"></app-each-user> -->
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Countrys</th>
        <th>Edits</th>
    </tr>
    <tr *ngFor="let user of allUsers | async">
        <!-- <app-each-user [user]="user"></app-each-user> -->
        <td>{{user.firstName}}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.address.country }}</td>
        <td>{{ user.address.city }}</td>
        <td (click)="editUser(user)">edit</td>
    </tr>
</table>