<app-container class="container" [style.--container-width]="'500px'">
  <app-header></app-header>
  <div class="tasks">
    <h2>All the tasks</h2>
    <button (click)="toogleAddTask()">{{ showAddTask()? 'Cancel':'Add New Task' }}</button>
  </div>

  <div class="body-part">
    @if(showAddTask()){
      <app-new-task (hideForm)="toogleAddTask()"></app-new-task>
    }
    <app-user (clickUser)="onClickUser($event)"></app-user>
    <app-tasks (complete)="onCompleteTask($event)" [id]="id()"></app-tasks>
  </div>
  <ng-template #ngTemplate let-myName="name">
    <p class="ngTemplate">this is from ng-template {{ myName }}</p>
  </ng-template>
  <app-slots [ngTempl]="ngTemplate">
    <p>some content....</p>
    <div class="content1">
      content 1
    </div>
    <div class="content2">
      content 2
    </div>
    <div content3>
      content 3
    </div>
  </app-slots>
</app-container>
