:host {
  .my-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  .form {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 12px;
  }
}
