<app-container [style.--container-width]="'500px'">
  <div class="container">
    <h1>Practice Observables:</h1>
  <a routerLink="/observables1">Practice 1</a>
  <hr>
  <div class="my-box">
    <button (click)="createObservable()">Create Observable</button>
    <p>subscribes name :  {{ name$ | async }}</p>
  </div>
  <div class="my-box">
    <button (click)="tearDown()">Tear Down</button>
    <p>Counter :  {{ counter$ | async }}</p>
  </div>
  <div class="my-box">
    <button (click)="createObservable1()">Create Observable</button>
    <p>See the results in console.</p>
  </div>
  <small [style]="{'margin-bottom': '3px', 'display':'block'}">change the input and see the network response</small>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="my-box form">
    <label>Title:
      <input class="form" name="title" formControlName="title" type="text">
    </label>
    <label>Level:
      <input class="form" name="level" formControlName="level" type="text">
    </label>
    <button> Submit </button>
  </form>
  <div class="my-box">
    <button (click)="createObsfrom()">Create Observable</button>
    <p>See the results in console.</p>
  </div>
  </div>
</app-container>
