<app-container>
  <h1>Rxjs Practice</h1>

  <div class="container">
  @if(beginner$ | async){

    <ul>
      <h4>Beginner Courses</h4>
      @for(course of  beginner$ | async; track course.id ){
        <li class="box">{{ course.title }}</li>
      }
    </ul>

    <ul>
      <h4>Advanced Courses</h4>
      @for(course of  advanced$ | async; track course.id ){
        <li class="box">{{ course.title }}</li>
      }
    </ul>
  } @else {
    <app-loader></app-loader>

    }
   </div>



</app-container>
