:host {
  h1 {
    text-align: center;
  }
  .container {
    position: relative;
    margin: auto;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    border: 1px solid rgb(171, 169, 169);
    border-radius: 12px;
    min-height: 200px;
    padding: 12px;
    h4 {
      font-size: 24px;
    }
    ul, li {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    .box {
      background: rgb(217, 214, 214);
      padding: 12px;
      margin: 3px;
    }
  }
  .counter {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      font-size: 24px;
      color: green;
      width: 32px;
      margin: auto;
    }
  }
}
