:host {
  app-container {
    display: block;
    border: 1px solid gray;
    margin: 24px;
    padding: 12px;
    border-radius: 12px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .container {
    display: grid;
    border: 1px solid myattr;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;

  }
}
