:host {
  form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    gap: 12px;
    label {
      display: flex;
      flex-direction: column;
      gap: 3px;
      input {
        padding: 6px;
        border-radius: 6px;
        &.ng-invalid.ng-touched {
          border: 1px solid red;
        }
      }
    }
  }
}
