<div class="budget-form">
  <label> <span>Initial Investment</span>
    <input type="number" [(ngModel)]="initialInvestment">
  </label>
  <label> <span>Annual Investment</span>
    <input type="number" [(ngModel)]="annualInvestment">
  </label>
  <label> <span>Aspected Return</span>
    <input type="number" [(ngModel)]="aspectedReturn">
  </label>
  <label> <span>Duration</span>
    <input type="number" [(ngModel)]="duration">
  </label>
</div>
<button (click)="doCalculations()">Calculate</button>

