:host {
  .budget-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    label {
      display: flex;
      flex-direction: column;
      gap: 6px;

      span {
        font-weight: bold;
      }
    }

    input {
      padding: 6px;
      border-radius: 6px;
      border: none;
    }
  }
  button {
    padding: 9px;
    border-radius: 6px;
    border: none;
    background-color: gray;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease-in-out;
    width: 100%;
    margin-top: 24px;
  }
  button:hover {
    background-color: rgb(183, 180, 180);
  }

}
