h2 {
  margin: 0;
}

.highlight-me {
  background-color: red;
}

.date {
  margin: 6px 0;
  font-size: 12px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;

  button {
    background-color: #243f5b;
    border-radius: 6px;
    padding: 9px 15px;
    color: #fff;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: #445f7d;
    }
  }
}

